<ion-header>
	<ion-navbar color="primary"> <!-- transparent hideBackButton -->
		<ion-buttons end>
			<button *ngIf="guest == true" ion-button icon-only clear style="zoom: 1.3;" (click)="toSignIn()">
				<ion-icon ios="ios-log-in-outline" md="ios-log-in-outline"></ion-icon>
			</button>
			<button *ngIf="guest == true" ion-button icon-only clear style="zoom: 1.3;" (click)="toSignUp()">
				<ion-icon ios="ios-add-circle-outline" md="ios-add-circle-outline"></ion-icon>
			</button>
			<button *ngIf="guest == false" ion-button icon-only clear style="zoom: 1.3;" (click)="signOut()">
				<ion-icon ios="ios-log-out-outline" md="ios-log-out-outline"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title><h2>Map</h2></ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="map-container">
		<div id="map">
		</div>
	</div>
	
	<h3> Manage your search:</h3>
	
	<ion-list id="tags">
		<ion-item item-left>
			<ion-label stacked>Search with tags</ion-label>
			<ion-input readonly="false" required [(ngModel)]="tagsData.tags" name="tags" type="text" placeholder="Event tags" text-center></ion-input>
		</ion-item>
		<ion-item item-left>
			<ion-datetime id="start" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="historyTimeout.dateFrom" name="dateFrom" placeholder="Event start date"></ion-datetime>
		</ion-item>
		<ion-item item-left>
			<ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="historyTimeout.dateTo" name="dateTo" placeholder="Event end date"></ion-datetime>
		</ion-item>
		<button id="apply" ion-button icon-only clear style="zoom: 1.5;" (click)="apply()">
			<ion-icon name="checkmark-circle-outline"></ion-icon>
		</button>
	</ion-list>

</ion-content>