<ion-header>
	<ion-navbar> <!-- transparent hideBackButton -->
		<button *ngIf="loggedIn == false" ion-button small clear color="black" (click)="toSignIn()">
			Sign In
		</button>
		<button *ngIf="loggedIn == false" ion-button small clear color="black" (click)="toSignUp()">
			Sign Up
		</button>
		<button *ngIf="loggedIn == true" ion-button small clear color="black" (click)="signOut()">
			Sign Out
		</button>
	</ion-navbar>
</ion-header>

<!--
		<!-- <ion-title *ngIf="[root]==''"> Page </ion-title> 
		<ion-title> {{selectedTab}} </ion-title>
-->

<ion-tabs #appTabs>
	<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Map" tabIcon="map"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
